@model IEnumerable<FurnitureStore.Models.Product>

@{
    ViewBag.Title = "Index";
}

<div class="product-model">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li class="active">Products</li>
        </ol>
        <h2>OUR PRODUCTS</h2>
        <div class="col-md-12 product-model-sec">
            @foreach (var item in Model)
            {
                <div class="product-grid love-grid">
                    <div class="product-img thickbox">
                        <img src="@Url.Content(item.ImagePath)" class="img-responsive" alt="" />
                    </div>
                    <div class="product-info simpleCart_shelfItem">
                        <div class="product-info-cust prt_name">
                            <h3>@item.Name</h3>
                            <h4><strong>Category:</strong> @item.ProductType.Name</h4>
                            <h4><strong>Brand:</strong> @item.Name</h4>
                            <h4><strong>Color:</strong> @item.Color</h4>
                            <h4><strong>Available Stock:</strong> @item.Stock</h4>
                            <h4><strong>Wood Type:</strong> @item.WoodType.Name</h4>
                            <h4><strong>Store:</strong> @item.Store.Name</h4>
                            <span class="item_price">$@item.Price</span>
                            <br />
                            <a href="@Url.Action("Buy", "Cart", new { id = item.Id })" style="margin-top: 20px;" class="item_add items">Add to Cart</a>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            }


        </div>
    </div>
</div>